
.mainContainer {
  width : 1000px;
  display : flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.mainContent {
  height : 100px;
  width : 300px;
  border : 1px solid black;
  box-sizing: border-box;
  margin-bottom : 30px;
  padding : 10px;
}

.selContainer {
  display : flex;
}

.smallBox {
  width : 35px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}